.country .flag,
.country .flag:before,
.country .flag:after,
.country .flag div,
.country .flag div:after,
.country .flag div:before {
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
        -ms-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
}

.country.active .flag,
.country.active .flag:before,
.country.active .flag:after,
.country.active .flag div,
.country.active .flag div:before,
.country.active .flag div:after {
    -webkit-animation-play-state: running;
       -moz-animation-play-state: running;
        -ms-animation-play-state: running;
         -o-animation-play-state: running;
            animation-play-state: running;
}