/*  Brazil
    ========================================================================== */
    .brazil {}

    .brazil .flag {
        //opacity: 0.5;
        @include box-shadow(0 295px 0 0 #FEDF00 inset);
        @include animation(enterBrazil 1s ease both 0.5s);
    }

    .brazil .flag:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: -webkit-linear-gradient(30deg, #009B3A 30%, transparent 30%),
                    -webkit-linear-gradient(-30deg, #009B3A 30%, transparent 30%),
                    -webkit-linear-gradient(210deg, #009B3A 30%, transparent 30%),
                    -webkit-linear-gradient(-210deg, #009B3A 30%, transparent 30%);
        background:    -moz-linear-gradient(30deg, #009B3A 30%, transparent 30%),
                       -moz-linear-gradient(-30deg, #009B3A 30%, transparent 30%),
                       -moz-linear-gradient(210deg, #009B3A 30%, transparent 30%),
                       -moz-linear-gradient(-210deg, #009B3A 30%, transparent 30%);
        background:     -ms-linear-gradient(30deg, #009B3A 30%, transparent 30%),
                        -ms-linear-gradient(-30deg, #009B3A 30%, transparent 30%),
                        -ms-linear-gradient(210deg, #009B3A 30%, transparent 30%),
                        -ms-linear-gradient(-210deg, #009B3A 30%, transparent 30%);
        background:      -o-linear-gradient(30deg, #009B3A 30%, transparent 30%),
                         -o-linear-gradient(-30deg, #009B3A 30%, transparent 30%),
                         -o-linear-gradient(210deg, #009B3A 30%, transparent 30%),
                         -o-linear-gradient(-210deg, #009B3A 30%, transparent 30%);
        background:         linear-gradient(30deg, #009B3A 30%, transparent 30%),
                            linear-gradient(-30deg, #009B3A 30%, transparent 30%),
                            linear-gradient(210deg, #009B3A 30%, transparent 30%),
                            linear-gradient(-210deg, #009B3A 30%, transparent 30%);
        @include animation(boingInUp 1s ease both);
    }

    .brazil .flag > div {
        position: absolute;
        background: -webkit-radial-gradient(circle at 0 310px , rgba(0, 0, 0, 0) 75%, #ffffff 72%, #ffffff 78%, rgba(0, 0, 0, 0) 79%) #002776;
        background:  -moz-radial-gradient(circle at 0 310px , rgba(0, 0, 0, 0) 75%, #ffffff 72%, #ffffff 78%, rgba(0, 0, 0, 0) 79%) #002776;
        background:  -ms-radial-gradient(circle at 0 310px , rgba(0, 0, 0, 0) 75%, #ffffff 72%, #ffffff 78%, rgba(0, 0, 0, 0) 79%) #002776;
        background:  -o-radial-gradient(circle at 0 310px , rgba(0, 0, 0, 0) 75%, #ffffff 72%, #ffffff 78%, rgba(0, 0, 0, 0) 79%) #002776;
        background:  radial-gradient(circle at 0 310px , rgba(0, 0, 0, 0) 75%, #ffffff 72%, #ffffff 78%, rgba(0, 0, 0, 0) 79%) #002776;
        @include border-radius(50%);
        left: 50%;
        top: 50%;
        margin: -75px 0 0 -75px;
        width: 150px;
        height: 150px;

        @include animation(fadeInUp 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.75s both);
    }

    .brazil .star {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
    }

    .brazil .star:after {
        content: "★";
        font-size: 10px;
        line-height: 10px;
        color: #fff;
    }

    .brazil .star.small:after {
        font-size: 6px;
        line-height: 6px;
    }

    .brazil .star-01 { left: 4%; top: 33%; @include animation(fadeIn 0.5s ease both 1.75s); }
    .brazil .star-02 { left: 9%; top: 53%; @include animation(fadeIn 0.5s ease both 1.80s); }
    .brazil .star-03 { left: 3%; top: 58%; @include animation(fadeIn 0.5s ease both 1.85s); }
    .brazil .star-04 { left: 28%; top: 43%; @include animation(fadeIn 0.5s ease both 1.90s); }
    .brazil .star-05 { left: 21%; top: 58%; @include animation(fadeIn 0.5s ease both 1.95s); }
    .brazil .star-06 { left: 19%; top: 63%; @include animation(fadeIn 0.5s ease both 2s); }
    .brazil .star-07 { left: 3%; top: 58%; @include animation(fadeIn 0.5s ease both 2.05s); }
    .brazil .star-08 { left: 48%; top: 63%; @include animation(fadeIn 0.5s ease both 2.10s); }
    .brazil .star-09 { left: 46%; top: 57%; @include animation(fadeIn 0.5s ease both 2.15s); }
    .brazil .star-10 { left: 42%; top: 53%; @include animation(fadeIn 0.5s ease both 2.20s); }
    .brazil .star-11 { left: 47%; top: 49%; @include animation(fadeIn 0.5s ease both 2.25s); }
    .brazil .star-12 { left: 55%; top: 54%; @include animation(fadeIn 0.5s ease both 2.30s); }
    .brazil .star-13 { left: 60%; top: 68%; @include animation(fadeIn 0.5s ease both 2.35s); }
    .brazil .star-14 { left: 68%; top: 70%; @include animation(fadeIn 0.5s ease both 2.40s); }
    .brazil .star-15 { left: 63%; top: 74%; @include animation(fadeIn 0.5s ease both 2.45s); }
    .brazil .star-16 { left: 74%; top: 73%; @include animation(fadeIn 0.5s ease both 2.50s); }
    .brazil .star-17 { left: 74%; top: 78%; @include animation(fadeIn 0.5s ease both 2.55s); }
    .brazil .star-18 { left: 73%; top: 68%; @include animation(fadeIn 0.5s ease both 2.60s); }
    .brazil .star-19 { left: 79%; top: 70%; @include animation(fadeIn 0.5s ease both 2.65s); }
    .brazil .star-20 { left: 83%; top: 67%; @include animation(fadeIn 0.5s ease both 2.70s); }
    .brazil .star-21 { left: 87%; top: 63%; @include animation(fadeIn 0.5s ease both 2.75s); }
    .brazil .star-22 { left: 84%; top: 58%; @include animation(fadeIn 0.5s ease both 2.80s); }
    .brazil .star-23 { left: 92%; top: 59%; @include animation(fadeIn 0.5s ease both 2.85s); }
    .brazil .star-24 { left: 65%; top: 25%; @include animation(fadeIn 0.5s ease both 2.90s); }
    .brazil .star-25 { left: 63%; top: 42%; @include animation(fadeIn 0.5s ease both 2.95s); }
    .brazil .star-26 { left: 27%; top: 67%; @include animation(fadeIn 0.5s ease both 3s); }
    .brazil .star-27 { left: 15%; top: 50%; @include animation(fadeIn 0.5s ease both 3.05s); }
    .brazil .star-28 { left: 49%; top: 80%; @include animation(fadeIn 0.5s ease both 3.15s); }