/*  South Africa
    ========================================================================== */
    .south-africa { background-color: #d2b48c; }

    .south-africa .flag {
        background-color: #007A4D;
        @include animation(heightFlag 1s ease both);
    }

    .south-africa .flag:before,
    .south-africa .flag:after {
        content: '';
        position: absolute;
        width: 87%;
        height: 33%;
    }

    .south-africa .flag:before {
        top: 0;
        right: -102px;
        background-color: #DE3831;
        @include box-shadow(-26px 9px 0 10px #fff,-560px 50px 0 #000,-560px 40px 0 #000,-524px 50px 0 #ffb612,-524px 13px 0 #ffb612);
        @include transform(skewx(57deg));
        @include animation(enterSouthAfrica 1.25s ease 0.5s both);
        z-index: 1;
    }

    .south-africa .flag:after {
        bottom: 0;
        right: -102px;
        background-color: #002395;
        @include box-shadow(-26px -9px 0 10px #fff,-560px 0px 0 #000,-560px -50px 0 #000,-525px -13px 0 #ffb612,-525px -51px 0 #ffb612);
        @include transform(skewx(-57deg));
        @include animation(enterSouthAfrica 1.25s ease both 0.75s);
    }
